content{
    background-color: red;
    color: pink;
}

testeteste{
    padding: 20px;
    color: orange;
    background-color: orange;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}