
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 15px;
    border: lightgray;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    z-index: 2;
  }

  .flip-card-front{
    justify-content: center;
    font-size: 1200%;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    justify-content: center;
    z-index: 1;
    padding: 20px;
  }

  .flip-card {
    width: 25rem;
    height: 35rem;
    margin: auto;
    margin-top: 2rem;
  }

  .mnemdiv{
    max-height: 5rem;
    overflow: scroll;
    text-align: left;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .editmnembut:hover{
    cursor: pointer;
  }

  .addmnembut:hover{
    cursor: pointer;
  }
   
  #hardEasyKnapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 340px;
  }
 
  .back-h{
    font-style: italic;
  }

  .back-kan{
    font-size: 5rem;
  }

  .back-eng{
    font-size: 3rem;
  }

  .hard-btn, .easy-btn{
    border-radius: 7px;
    border: lightgray;
    margin-top: 4%;
    width: 47%;
    background-color: white;
    color: black;
    box-shadow: none;
  }

  .back-buttons{
    
  }

  .hard-btn{
    margin-right: 3%;

  }

  .easy-btn{
    margin-left: 3%;
  }

  .row, .col{
    margin-bottom: 0px;
  }

  .test-row{
    margin: -5px;
  }
  