
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 15px;
    border: lightgray;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    z-index: 2;
  }

  .flip-card-front{
    justify-content: center;
    font-size: 1200%;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    justify-content: center;
    z-index: 1;
    padding: 20px;
  }

  .flip-card {
    width: 340px;
    height: 450px;
    margin: auto;
    margin-top: 40px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
   
  #hardEasyKnapper {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 340px;
  }
 
  .back-h{
    font-style: italic;
  }

  .back-kan{
    font-size: 500%;
  }

  .back-eng{
    font-size: 300%;
  }

  .hard-btn, .easy-btn{
    border-radius: 7px;
    border: lightgray;
    margin-top: 4%;
    width: 47%;
    background-color: white;
    color: black;
    box-shadow: none;
  }

  .hard-btn{
    margin-right: 3%;

  }

  .easy-btn{
    margin-left: 3%;
  }

 
  .hmm{
    width: 100%;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
  }

  .row, .col{
    padding: 0px !important;
    margin: 0px !important;
  }

  .test-row{
    margin: -5px;
  }
  