.center {
    margin: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.frontpage-content {
  /*padding-top: 25px;*/
  max-width: 52rem;
  min-width: 20rem;
  padding: 5px;
  color:black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

}

.deck {
    background: white;
    border-style: none;
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
    margin-bottom: 1.5rem;
    height: 20rem;
}

/*
.deck:hover {
    opacity: 1.0;
}
*/

.completed {
  color: rgb(73,	84,	121	);
  /*opacity: 0.5;*/
  background-color: rgb(200,	211,	248);
  font-style: italic;
  width: 100%;
  /*background-color: lightgray;*/
}

.not-completed {
  
}

/* */
#link{
  color: black;
}

