.center {
    margin: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.frontpage-content {
  max-width: 52rem;
  min-width: 20rem;
  padding: 5px;
  color:black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

}

.deck {
  background: white;
  border-style: none;    
  border-radius: 15px;
  padding: 0.6rem;
  opacity: 0.85;
  margin-bottom: 1.5rem;
  height: 17rem;
  text-transform: lowercase;
  
}

.deck-content{
  margin-top: 3.5rem;
}

.deck-content-comp{
  margin-top: 3rem;
}


.deck:hover {
    opacity: 1.0;
}


.completed {
  color: rgba(73,	84,	121	,0.8);
  /*opacity: 0.5;*/
  background-color: rgb(200,	211,	248);
  font-style: italic;
  width: 100%;
  /*background-color: lightgray;*/
}
/*
.not-completed {
  
}

#link{
  color: rgb(100,	106	,246	);
}

.deck-btn{
  background-color: rgb(100,	106	,246	);
}

.deck-btn:hover{
  background-color: rgb(143,	167,	248	);
}

.decktypetxt{
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(73,	84,	121);
}

.completionstat{
  font-style: italic;
  color: rgb(73,	84,	121);
}

.dropdown-content{
  width: 14rem !important;
  max-height: 19rem;
  opacity: 1 !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: black !important;
  pointer-events: none;
  cursor: none;
}

.li {
  cursor: help;

}

.dropdown-content li {
  cursor: auto;
  opacity: 1px;
  pointer-events: none !important;
}

.dropdown-content:hover {
  cursor: auto !important;
  pointer-events: none;
}

*/