.info-content{
    max-width: 52rem;
  min-width: 20rem;
  padding: 5px;
  color:black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.info {
    background: rgba(255, 255, 255, 0.9);
    border-style: none;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 1.5rem;
    height: auto;

}

.fcimg{
    max-width: 10rem;
}

.startlink{
    font-size: 2rem;
    font-weight: bold;
    color: black !important;
}

#link{
    color: rgb(100,	106	,246	);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .strokeorderimg{
        border-radius: 15px;
        max-width: 16rem;
    }
    
    .fruitimg, .logoimg{
        min-width: 15rem;
        max-width: 16rem;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .strokeorderimg{
        border-radius: 15px;
        max-width: 20rem;
    }
    
    .fruitimg, .logoimg{
        max-width: 21rem;
    }
  }