.container{
    background: none;
}

.pfc-btn{
    color: black;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: white;
    margin: 1rem;
    width: 9rem;
    height: 6rem;
    font-size: 4rem;
}

.pfc-btn:hover{
  background-color: #ededed;
  cursor: pointer;
  border-color: none;
}

.pfc-card{
    padding: 3rem;
    width: 30rem;
    height: 40rem;
    background-color: white;
    margin: auto;
    border-radius: 15px;
}

.back-h{
    font-style: italic;
  }

  .back-kan{
    font-size: 500%;
  }

  .back-eng{
    font-size: 30;
  }

  img {
    max-width: 100%;
    height: auto;
  }

